@using Warsztat.Models
@using Microsoft.EntityFrameworkCore

@inject WarsztatContext DbContext
@inject AppState AppState
@inject IJSRuntime JS

@implements IDisposable

<div class="page-header">

    <h1>Meble</h1>

    <button type="button" class="add-button" @onclick="ToggleForm">
        + Dodaj
    </button>

</div>

@if (showForm)
{
    <div class="form-container">

        <input type="text"
               placeholder="Nazwa mebla"
               @bind="nowyMebel.Nazwa" />

        <textarea placeholder="Opis"
                  @bind="nowyMebel.Opis">
        </textarea>

        <button class="save-button"
                @onclick="SaveFurniture">
            @(nowyMebel.ID == 0 ? "Dodaj" : "Zapisz zmiany")
        </button>

    </div>
}

<div class="furniture-list">

    @foreach (var mebel in meble)
    {
        <div id="furniture-@mebel.ID"
            class="furniture-card @(highlightFurnitureId == mebel.ID ? "highlight" : "")">

            <div class="furniture-header">

                <div class="furniture-info"
                    @onclick="() => ToggleFurniture(mebel.ID)">

                    <div>
                        <h2>
                            @mebel.Nazwa

                            <span class="tool-count">
                                (@mebel.Narzedzia.Count())
                            </span>
                        </h2>
                        
                        <p>@mebel.Opis</p>
                    </div>

                    <span class="expand-icon">
                        @(expandedFurnitureID == mebel.ID ? "▼" : "▶")
                    </span>

                </div>

                <button type="button"
                    class="delete-button"
                    @onclick="() => DeleteFurniture(mebel.ID)">
                        Usuń
                </button>

                <button class="edit-button"
                        @onclick="() => EditFurniture(mebel)">
                    Edytuj
                </button>
            
            </div>

            @if(expandedFurnitureID == mebel.ID)
            {
                <div class="furniture-content">

                    @if (mebel.Narzedzia.Count() == 0)
                    {
                        <p>Brak narzędzi.</p>
                    }
                    else
                    {
                        @foreach (var narzedzie in mebel.Narzedzia)
                        {
                            <div class="tool-item">

                                <div class="tool-name">
                                    @narzedzie.Nazwa
                                </div>

                                <div class="tool-description">
                                    @narzedzie.Opis
                                </div>

                            </div>
                        }
                    }

                </div>
            }

        </div>
    }

</div>